name: Build and Test

on:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore GameTribunal.slnx
        working-directory: src

      - name: Build
        run: dotnet build GameTribunal.slnx --configuration Release --no-restore
        working-directory: src

      - name: Test
        run: dotnet test GameTribunal.Application.Tests/GameTribunal.Application.Tests.csproj --configuration Release --no-build --verbosity normal
        working-directory: src
